<a href="https://colab.research.google.com/github/usmanbhatti1947/python-basics-assignment/blob/main/numpy_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
students = np.array(["Alice", "Bob", "Charlie", "David", "Emma"])

In [3]:
students.shape

(5,)

In [4]:
students.size

5

In [32]:
type(students)

numpy.ndarray

In [34]:
scores = np.array([
[85, 78, 92],
[88, np.nan, 80],
[75, 85, 79],
[np.nan, 90, 82],
[89, 76, 91]
])

In [7]:
type(scores)

numpy.ndarray

In [35]:
scores.shape

(5, 3)

In [36]:
scores.size

15

In [10]:
attendance = np.array([90, 85, 95, np.nan, 88])

In [11]:
attendance.shape

(5,)

In [12]:
attendance.size

5

In [13]:
type(attendance)

numpy.ndarray

##Data cleaning and handling missing values
###cahnging nan values in scores with mean value

In [37]:
# scores[np.isnan(scores)] #return an array of nan values
scores

array([[85., 78., 92.],
       [88., nan, 80.],
       [75., 85., 79.],
       [nan, 90., 82.],
       [89., 76., 91.]])

In [38]:
column_score_0 = scores[ : ,0] # ignoring nan value find mean value at 0 index of column
column_score_0


# scores[3,0] = mean_value
# scores

array([85., 88., 75., nan, 89.])

In [39]:
sum_value_0 = np.nansum(column_score_0)
sum_value_0

337.0

In [40]:
mean_value_0 = sum_value_0/5
scores[3,0] = mean_value_0
scores

array([[85. , 78. , 92. ],
       [88. ,  nan, 80. ],
       [75. , 85. , 79. ],
       [67.4, 90. , 82. ],
       [89. , 76. , 91. ]])

In [41]:
column_score_1 = scores[ : ,1] # ignoring nan value find mean value at 1 index of column
column_score_1

array([78., nan, 85., 90., 76.])

In [42]:
sum_value_1 = np.nansum(column_score_0)
sum_value_1

404.4

In [43]:
mean_value_1 = sum_value_0/5
scores[1,1] = mean_value_1
scores

array([[85. , 78. , 92. ],
       [88. , 67.4, 80. ],
       [75. , 85. , 79. ],
       [67.4, 90. , 82. ],
       [89. , 76. , 91. ]])

In [16]:
#Repalcing nan value with mean
# scores[np.isnan(scores)] = mean_value
# scores

array([[85. , 78. , 92. ],
       [88. , 67.4, 80. ],
       [75. , 85. , 79. ],
       [67.4, 90. , 82. ],
       [89. , 76. , 91. ]])

###Changing nan values with mean in attendance

In [44]:
attendance_mean = np.nanmean(attendance)
attendance_mean

89.5

In [45]:
attendance[np.isnan(attendance)] = attendance_mean
attendance

array([90. , 85. , 95. , 89.5, 88. ])

##Calculate mean median std score of students

In [46]:
np.mean(scores)

81.65333333333334

In [47]:
np.median(scores)

82.0

In [48]:
np.std(scores)

7.687727593740268

In [49]:
np.max(scores)

92.0

In [50]:
average_score = np.mean(scores , axis=1) #average score for each student
average_score

array([85.        , 78.46666667, 79.66666667, 79.8       , 85.33333333])

In [52]:
total_scores = np.sum(scores, axis=1)
performer_index = np.argmax(total_scores) #argmax method return first occurrences in case of multiple max values
top_performer = students[performer_index]
top_performer

'Emma'